.carousel {
	width: 100%;
	overflow: scroll;
	padding: 30px;
	position: relative;
}
.carousel__container {
	white-space: nowrap;
	margin: 70px 0;
	padding-bottom: 10px;
	display: flex;
	transition: 450ms transform;
	font-size: 0px;
}